@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

cite{
	margin-top: 1em;
}

table span{
	font-size: 2em;
}

[epub|type~="se:letter.dateline"]{
	text-align: right;
}

[epub|type~="se:letter.dateline"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
}

[epub|type~="z3998:postscript"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:poem"] footer p{
	text-align: right; /* override default poem styling */
}

[epub|type~="z3998:signature"],
blockquote p[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

p[epub|type~="z3998:signature"] + p[epub|type~="z3998:signature"]{
	margin-top: 0;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

blockquote[epub|type~="z3998:poem"] header p{
	text-align: center;
}

blockquote header,
#chapter-10 > blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

#chapter-10 > blockquote header p{
	text-indent: 0;
}

#chapter-10 > blockquote header p.title{
	font-size: 1.2em;
}

/* Bereavement */
#chapter-10 > blockquote div:nth-of-type(6){
	border: 1px solid;
	padding: 1em;
}

table{
	margin: 1em auto;
}
